<!DOCTYPE html>
<html>
<head>
    <title>Crop Recommendation</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/predict">Predict</a>
</nav>

<section class="hero">

    <h1>🌱 AI Based Crop Recommendation System</h1>

    <p>
        Smart Farming using Machine Learning
    </p>

    <a href="/predict" class="btn">
        Start Prediction
    </a>

</section>

</body>
</html>