<!DOCTYPE html>
<html>
<head>
    <title>Predict Crop</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/predict">Predict</a>
</nav>

<div class="container">

<h1>🌾 Crop Prediction</h1>

<form method="POST">

<input type="number"
       step="any"
       name="temperature"
       placeholder="Temperature"
       required>

<input type="number"
       step="any"
       name="humidity"
       placeholder="Humidity"
       required>

<input type="number"
       step="any"
       name="ph"
       placeholder="pH Value"
       required>

<input type="number"
       step="any"
       name="rainfall"
       placeholder="Rainfall"
       required>

<button class="btn">
Predict Crop
</button>

</form>

{% if prediction %}

<div class="result">

<h2>
✅ Recommended Crop:
</h2>

<h1>{{ prediction }}</h1>

</div>

{% endif %}

</div>

</body>
</html>